$calendar-day-bg: $secondary-bg-color;
$calendar-day-hover-bg: $primary-bg-color;
$calendar-day-text: $font-primary;
$progress-bar-bg: $primary-accent-color;
$button-bg: $secondary-bg-color;

#calendar-container {
    margin: 2rem auto;
    width: 1000px;
    max-width: 90vw;

    @media screen and (max-width: 768px) {
        max-width: 95vw;
    }
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 3px;
    margin-bottom: 1rem;

    width: 100%;


    .calendar-day {
        display: grid;
        width: 100%;
        aspect-ratio: 1 / 1;
        text-align: center;
        box-sizing: border-box;
        background-color: $calendar-day-bg;
        color: $calendar-day-text;
        border-radius: 5px;
        overflow: hidden;
        font-size: clamp(.5em, 2.5vw, 1.25rem);
        position: relative;
        transform-origin: bottom;
        margin: 0;
        padding: 0;
        border: none;

        cursor: pointer;
        transition: background-color 250ms linear, color 250ms linear;

        &:hover {
            transition: background-color 100ms linear, color 100ms linear;
            background-color: $calendar-day-hover-bg;
            color: $calendar-day-text;
            z-index: 2;
        }


        @media screen and (min-width: 768px) {
            opacity: 0;
            animation: calendar-fade 500ms ease-in-out 200ms 1 normal forwards;
        }

        @for $i from 1 through 50 {
            &:nth-of-type(#{$i}) {
                animation-delay: 15ms * $i;
            }
        }

        @keyframes calendar-fade {
            from {
                transform: translate(5%, 20%);
                opacity: 0;
            }

            to {
                transform: translate(0, 0);
                opacity: 1;
            }
        }

        .progressBar {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 5px;
            animation-name: event-progress;
            animation-duration: 1s;
            animation-delay: .2s;
            animation-fill-mode: forwards;

            border-top-right-radius: 2.5px;
            border-bottom-right-radius: 2.5px;
            background-color: $progress-bar-bg;
        }

        @keyframes event-progress {
            from {
                width: 0px;
            }

            to {
                width: 140px;
            }
        }

        .eventsNumber {
            position: absolute;
            bottom: 5px;
            text-align: left;
            color: currentColor;
            margin: .25rem;
            font-size: 85%;
        }
    }
}

#calendar-labels {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 3px;
    color: $calendar-day-text;

    p {
        width: 100%;
        font-size: clamp(.75rem, 1.5vw, 1.25rem);
        text-align: center;
        text-transform: uppercase;
        margin: .5rem 0;
    }

    @media screen and (max-width: 768px) {
        p {
            font-size: 1rem;
        }

        span {
            display: none;
            visibility: hidden;
        }
    }
}

#calendar-controls {
    display: flex;
    flex-direction: column;
    padding: .5rem 0;
    color: $calendar-day-text;
    position: relative;

    .row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        h1 {
            text-align: center;
            margin: .5rem auto;
        }
    }

    .nav-buttons {
        height: max-content;
        aspect-ratio: 1 / 1;
        padding: 0;
        background-color: $button-bg;
        color: #fff;
        border: none;
        border-radius: 50%;

        display: grid;
        place-items: center;
    }

    button {
        border: none;
    }

    #filter-reset {
        margin: 1rem;
        background-color: $primary-accent-color !important;
        border-color: $primary-accent-color !important;

        @media screen and (max-width: 612px) {
            position: static;
            margin: 0;
            margin-right: auto;
        }
    }

    p {
        padding: 0 1rem;
        min-width: 170px;
        text-align: center;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    .date-selector {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 150%;

        p {
            margin: 1rem 0;
        }
    }

    .calendar-search {
        display: flex;
        margin: auto 0;
        width: 100%;
        height: max-content;
        max-width: 400px;

        #event-search-input {
            border-radius: 0;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            border: none;
            height: 30px;
            box-sizing: border-box;
            width: 100%;
            padding-left: .75rem;
        }

        #search-btn {
            background-color: $calendar-day-bg;
            color: $calendar-day-text;
            border-radius: 0;
            aspect-ratio: auto;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            padding: .25rem .75rem .25rem .5rem;
            height: 30px;
            width: 70px;
            cursor: pointer;

            &:active {
                background-color: $calendar-day-hover-bg;
            }

            &:focus-visible {
                outline: 2px solid white;
            }
        }

        position: relative;

        .search-results {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            gap: 1px;
            z-index: 9;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            background-color: $calendar-day-hover-bg;

            display: none;
            visibility: hidden;

            .result {
                display: flex;
                justify-content: space-between;
                padding: .5rem 1rem;
                background-color: $calendar-day-bg;
                color: $calendar-day-text;
                text-align: left;

                &:not(.no-results) {
                    cursor: pointer;

                    &:hover {
                        background-color: $calendar-day-hover-bg;
                    }
                }

                .event-title {
                    max-width: 60%;
                }

                .event-date {
                    text-align: right;
                    max-width: 40%;
                    padding-left: .25rem;
                }
            }
        }
    }

    .filter-controls {
        display: flex;
        align-items: center;
        gap: 0 1.5rem;
        flex-wrap: wrap;
        max-width: 1000px;
        margin-inline: 14px;

        div {
            display: flex;
            align-items: center;
            gap: .5rem;

            &.button-container {
                margin-left: auto;
            }
        }

        @media screen and (max-width: 612px) {
            flex-direction: column;

            div {
                width: 100%;
                justify-content: flex-end;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #calendar-controls {
        .row {
            flex-direction: column;
        }

        .calendar-search {
            margin-inline: auto;
            margin-bottom: 1rem;
        }
    }
}