$footer-bg: $secondary-bg-color;
$footer-text: $font-primary;

#footer {
    background-color: $footer-bg;
    margin-top: auto;
    padding: 1rem 0;
    border-top: 1px solid $primary-accent-color;

    .col {
        display: flex;
        justify-content: center;
        a, p {
            text-align: left;
            padding: 0 .5rem;
            margin: .5rem 0;
            color: $footer-text;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 1px;
                background-color: currentColor;
            }
        }
        a:last-of-type::after {
            content: none;
        }
        img {
            width: 250px;
            max-width: 40vw;
            margin: 0 auto;
            display: block;
        }
        @media screen and (max-width: 512px) {
            flex-direction: column;
            p, a {
                text-align: center;
                &::after {
                    content: none;
                }
            }
            #copyright {
                order: 999;
            }
        }
    }
}