$review-container-bg: $primary-bg-color;
$review-text: $font-primary;
$input-background: $primary-bg-color;
$review-header-bg: $secondary-bg-color;

#review-days-container {
    display: grid;
    place-items: center;
    position: fixed;
    inset: 0;
    background-color: #000000AA;
    color: $review-text;
    z-index: 999;

    display: none;
    visibility: hidden;

    #review-days {
        background-color: $review-container-bg;
        border-radius: 2.5px;
        overflow: hidden;
        position: relative;

        width: 600px;
        max-width: 90vw;

        .review-header {
            border-bottom: 2px solid $review-header-bg;

            h1 {
                margin: .5rem;
            }
        }

        .days {
            display: grid;
            place-items: center;
            border-bottom: 2px solid $review-header-bg;

            max-height: 55vh;
            overflow-y: auto;
            padding: 1rem;
            gap: 1rem;

            h2 {
                margin: 0;
            }

            ul {
                padding: 0;
                margin: 0;
                list-style: none;

                li {
                    padding: .25rem;
                    position: relative;
                    text-align: right;

                    @media screen and (max-width: 768px) {
                        font-size: .8rem;
                        text-align: left;
                    }

                    input[type="checkbox"] {
                        margin-inline: .5rem;
                    }
                }
            }
        }

        .btn-container {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: .5rem;
            gap: .5rem;

            .btn {
                margin: 0 !important;

                &.cancel {
                    background-color: hsl(0, 8%, 75%) !important;
                    border-color: $recurring-header-bg !important;
                }
            }
        }
    }
}