<footer id="footer">
    <div class="col">
        <img src="/assets/logo.png" alt="PHC logo">
    </div>
    <div class="col">
        <a href="/">Calendar</a>
        <a href="/create">New Meeting</a>
        <a href="/logout">Logout</a>
    </div>
    <div class="col">
        <p id="copyright">Pure Heart Church &copy; 2025</p>
        <a href="mailto:helpdesk@pureheart.org">helpdesk@pureheart.org</a>
    </div>
</footer>