<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon"> -->
<link rel="icon" href="https://www.pureheart.org/wp-content/uploads/2022/07/cropped-phfav-32x32.png" sizes="32x32">
<link rel="icon" href="https://www.pureheart.org/wp-content/uploads/2022/07/cropped-phfav-192x192.png" sizes="192x192">
<link rel="apple-touch-icon" href="https://www.pureheart.org/wp-content/uploads/2022/07/cropped-phfav-180x180.png">
<link rel="stylesheet" href="/styles/main.css">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script src="https://kit.fontawesome.com/e61ab9568e.js" crossorigin="anonymous"></script>
<title>Care Center Calendar</title>

<script src="/scripts/axios.js"></script>
<!-- <script src="/scripts/MP_API_Functions.js"></script> -->
<script src="/scripts/main.js"></script>