<div id="review-days-container">
    <div id="review-days">
        <div class="review-header">
            <h1>Recurring Events</h1>
            <button class="close-button" onclick="reviewConfirm()"><i class="material-icons">close</i></button>
        </div>
        <div class="days">
            <h2 id="review-event-title"></h2>
            <ul id="days-list">
            </ul>
        </div>
        <!-- <p style="text-align: center">Warning: 10 Events will be created</p> -->
        <div class="btn-container">
            <button class="btn cancel" onclick="reviewCancel();patternShow();">Cancel</button>
            <button id="review-confirm-btn" class="btn" onclick="reviewConfirm()">Confirm 0 Events</button>
        </div>
    </div>
</div>
<script>
    const reviewContainerDOM = document.querySelector('#review-days-container');

    const eventTitleDOM = document.getElementById('review-event-title');
    const daysListDOM = document.getElementById('days-list');
    const reviewConfirmBtnDOM = document.getElementById('review-confirm-btn');

    const loadDaysList = () => {
        const daysListHTML = pattern.map((day, id) => {
            const currDate = new Date(day);
            const endDateTime = new Date(`${startDateInputDOM.value}T${startTimeInputDOM.value}`);
            return `<li>
                        ${id + 1}: ${currDate.toLocaleDateString()} @ ${currDate.toLocaleTimeString()} - ${endDateTime.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit' })}
                        <input class="recurring-verify" id="pattern-day-${id}" value="${day}" onclick="updatePattern();" type="checkbox" checked></input>
                    </li>`
        }).join('')
        daysListDOM.innerHTML = daysListHTML;
        // eventTitleDOM.innerText = eventNameDOM.value;
        reviewConfirmBtnDOM.innerText = `Confirm ${pattern.length} Events`;
    }

    const reviewHide = () => {
        reviewContainerDOM.style.display = 'none';
        reviewContainerDOM.style.visibility = 'hidden';
    }
    const reviewShow = () => {
        reviewContainerDOM.style.display = 'grid';
        reviewContainerDOM.style.visibility = 'visible';

        loadDaysList();
    }

    const updatePattern = () => {
        const newPattern = [];
        for (let i = 0; i < daysListDOM.children.length; i++) {
            const elem = document.getElementById(`pattern-day-${i}`);
            if (elem.checked) newPattern.push(elem.value);
        }
        pattern = newPattern;
        reviewConfirmBtnDOM.innerText = `Confirm ${pattern.length} Events`;
        const recurringLabel = document.getElementById('recurring-label');
        recurringLabel.innerText = `${pattern.length} Event${pattern.length == 1 ? '' : 's'}`;
    }

    const reviewConfirm = () => {
        updatePattern();
        reviewHide();
    }
    const reviewCancel = () => {
        pattern = undefined;
        reviewHide();
    }
</script>