#table-container {
    display: flex;
    gap: 1rem;
}


table {
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 1em;
    font-family: sans-serif;
    min-width: 400px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    thead {
        background-color: var(--blue-accent-color2);
        color: var(--light-font-color);
        text-align: left;
    }
    th, td {
        padding: 12px 16px;
        position: relative;
        &#positive {
            background-color: var(--green-transparent-accent-color);
        }
        &#negative {
            background-color: var(--red-transparent-accent-color);
        }

        &#total {
            font-weight: bold;
        }
    }
    tr {
        position: relative;
        border-bottom: 1px solid var(--secondary-bg-color);
    }
    tr:nth-of-type(even) {
        background-color: var(--primary-bg-color);
    }
    tr:last-of-type {
        border: none;
    }
}

#table-title {
    width: 100%;
    margin: .5rem 0;
    text-align: center;
}