<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <%- include('../partials/loading'); %>

    <%- include('../partials/navbar'); %>

    <phc-calendar></phc-calendar>
    
    <%- include('../partials/footer'); %>
  
    <script src="/scripts/calendar.js"></script>

</body>
</html>