$body-bg-color: #282a36;
$body-bg-color-1: #2b2e3b;
$body-bg-color-2: #363949;
$primary-bg-color: #686c7d;
$secondary-bg-color: #3a3c45;
$font-primary: white;
$font-secondary: black;


// default colors
// $primary-accent-color: #087ece;
$primary-accent-color: #bd93f9;
$primary-accent-color-2:  #9956f5;

$error-red: #c0392b;